body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: transparent;
}

#aeb-icon {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(5); /* 放大5倍并居中 */
    width: 50px; /* 原始尺寸 */
    height: 50px; /* 原始尺寸 */
    background-image: url('aeb_icon.png'); /* 确保路径正确 */
    background-size: cover;
    filter: hue-rotate(0deg) brightness(0) saturate(100%) invert(21%) sepia(96%) saturate(7478%) hue-rotate(355deg) brightness(97%) contrast(128%);
}
